
@{
    ViewData["Title"] = "GetBlogListPage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>GetBlogListPage</h1>
<br />

<a href=" /Admin/Blog/ExportBlogList" class="btn btn-primary">Excel Listesini İndir</a>
